*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #368BC1, white, #368BC1);
}
#wrapper{
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
    border: 3px black solid;
    box-shadow: 5px 45px 50px black;
}
header{
    border: 2px solid black;
    background-color: cadetblue;
    color: lightcyan;
    text-align: center;
    font-size: larger;
    letter-spacing: 3px;
}
nav{
    text-align: center;
    float: left;
    width: 20%;
}
nav a:hover{
    color: lightseagreen;
}
nav ul{
    list-style-type: none;
}
nav li{
    border: 3px solid lightseagreen;
    border-radius: 20px;
    margin: 1%;
    padding: 5px;    
    background-color: honeydew;
    display: block;
    margin-left: -1em;
    box-shadow: 2px 1px 10px #000;
    letter-spacing: 0.3em;
    font-size: 1.1em;
    padding-bottom: 5px;
}
#aside{
    margin-right: 2%;
}
aside{
    float: right;
    margin-left: 4%;
    background-color: turquoise;
    margin-top: 30px;
    border: 2px solid salmon;

}
aside dt{
    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
}
#names{
    margin-left: 40%;
    margin-bottom: 5%;
}
#review{
    width: 100%;
    font-style: italic;

}
#imageEffect{
    width: 100%;
    margin: auto;
}
main{
    font-family: 'Times New Roman', Times, serif;
    width: 75%;
    background-color: azure;
    margin-left: 23%;
    margin-bottom: 10px;
}
main h2{
    border: 3px black solid;
    padding: 5px;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: cyan;
}
main h3 {
    font-size: larger;   
    margin-left: 20px;
}
main h1{
    text-align: center;
    background-image: linear-gradient(to right, rgb(143, 143, 252), white);
    border: 2px solid black;
    padding: 3px;
}
nav a{
    text-decoration: none;
    margin: 2%;
    font-weight: bold;
    font-weight: bolder;
}
main{
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
    width: 50%;
    margin-left: 23%;
}
footer{
    background-color: cadetblue;
    text-align: center;
    padding-top: 5px;
}
@media only screen and (max-width: 768px){
    nav ul li{
        display: block;
        border: 2px solid black; 
        border-top: unset;
        background-color: turquoise;
    }
    
    
    
}
@media only screen and (max-width: 1024px){/*for mobile device*/
    nav{
        float: none;
        width: auto;
    }
    #wrapper{
        width: auto;
    }
    nav li{
        display: inline;
        box-shadow: none;
        background-color: unset;
        letter-spacing: normal;
        border: none;
    }
    nav img{
        display: none;
    }
    body{
        margin: 0;
    }
    main{
        margin-left: 0;
        width: 100%;
    }
    aside{
        display: none;
    } 
    
} 